/* Default styling for the document */
body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  margin: 0px; /* getting a weird display in chrome due to User Agent Stylesheet
  setting, so I over-wrote it here */
}

/* Define all div's as blocks by default */
div {
  display: block;
}

/* Flex Containers Styling */
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Header Styling*/
header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center;
  background-color: black;
}

header img {
  height: 50px;
  padding: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
  padding: 10px;
}

nav span {
  padding: 0px 10px;
}

/* stylizing the links */
a:link, a:visited, a:hover, a:active {
  color: seashell;
  text-decoration: underline;
}

/* Main Body Styling */
.main {
  padding-top: 69px;
  width: 1200px;
  margin: auto;
}

/* Content Class Styling */
.content {
  background-color: black;
}

.content img {
  height: 200px;
  padding: 5px;
}

.content span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

/* store class styling */
.store {
  width: 300px;
  display: inline-block;
}

/* contact class styling */
.contact {
  height: 200px;
}

/* copyright class styling */
.copyright {
display: block;
  width: 100%;
  margin: 20px;
  text-align: left;
}

/* Different Sections Styling */
#mission {
  background-image: url(../resources/img-mission-background.jpg);
  flex-direction: column;
  height: 700px;
}

#featured {
  width: 1000px;
  margin: auto;
  padding-bottom: 40px;
}

#locations {
  height: 500px;
  background-image: url("../resources/img-locations-background.jpg");
  padding-top: 70px;
}

/* Additional styling for the store class within the location id */
#locations .store {
  margin: 15px 40px;
  opacity: 1;
}

footer {
  text-align: left;
  padding-left: 20px;
}
